      <% include head %>
      <% include ui/login %>
      
      </body>
      </html>
	    <!-- 模态框（Modal） -->
      <!--
      <form action='/users/login' method='post'>
          <table align='center' height='213px' style='float:left'>
            <tr>
              <td align='right'>email:</td>
              <td><input type="text" class="form-control" placeholder="请输入email" name='email'></td>
            </tr>
            <tr>
              <td align='right'>密码:</td>
              <td><input type="password" class="form-control" placeholder="请输入密码" name='pwd'></td>
            </tr>
            <tr>
              <td colspan='2' align='center'>
                <button type="submit" class="btn btn-primary">登陆</button>
              </td>
            </tr>
          </table>
        </form>
        
        <form method='post' action='/users/zhuce'>
          <table align='center' height='200px'>
            <tr>
              <td align='right'>email:</td>
              <td><input type="text" class="form-control" placeholder="请输入email" name='email'></td>
            </tr>
            <tr>
              <td align='right'>密码:</td>
              <td><input type="password" class="form-control" placeholder="请输入密码" name='pwd'></td>
            </tr>
            <tr>
              <td align='right'>重复密码:</td>
              <td><input type="password" class="form-control" placeholder="请输入密码" name='repwd'></td>
            </tr>
            <tr>
              <td align='right'>昵称:</td>
              <td><input type="text" class="form-control" placeholder="请输入昵称" name='nicheng'></td>
            </tr>
            <tr>
              <td colspan='2' align='center'>
                <button type="submit" class="btn btn-primary">注册</button>
              </td>
            </tr>
          </table>
        </form>
        -->

